.center {
    width:auto;
    text-align: left;
}

.banner {
    width:auto;
    text-align: center; 
    background-color: gray;
    height: 200px;
    padding-top: 100px;

}

.logo {

    width:auto;
    text-align: left;
}

.margin {

    margin-left: 100px;
    margin-right: 100px; 
}