* {
padding:0px;
margin: 0px;
}
header {
	width: 100%;
	height: 55px;
	background-color: #ffffff;
}

.container {
	width: 940px;
	margin: 0 auto;
	 
	 }
.logo {
	float: left;
	width: 135px;
	height: 55px;
	background-color: #ff8000;
}
 
.header_list{
	width: auto;
	height: 55px;
	float: left;

}
.header_list li {
	list-style: none;
	float: left;
	margin: 20px;
	color: #aaaaaa;
	padding-left: 20px;
	list-style: none;

}
.header_list ul {
	display: block;
}
.header_lisy a {
	display: block;
}

.search img {
	width: 30px;
	height: 30px;
	 
	 
	margin-top: 5px;
 
}
.serach a {
	clear: left;
	 
	float: right;
}
.search input {
	float: left;
	width: 270px;
	height: 40px;
	border: 0px;

}
 
.search {
	width: 300px;
	float: right;
	border: 1px solid; 
	height: 40px;
	margin-top: 5px;

}



.header_list a {
	list-style-type: none;
	text-decoration: none;
	display: block;
	color: black;}
	
a {
	text-decoration: none;
	display: block;
}


.banner {
	width: 100%;
	height: 485px;
	clear:both;
	float: left;
	background-color: black;
	 
}
.bannerImage   {
	width: 940px;
	margin: 0 auto;

}
.bannerImage img{
	position: relative;
	width: 940px;
	height: 485px;
}

.menu {
	width: 100%;
	height:100px;
	clear: both;
	float:left;
	background-color: #ecab1f;
}
.menu .container li:last-child{
	margin: 0px;
	float: none;
	width: 0;
	height: 0;
	clear: both;
} 
.menu li:nth-child(4) {
	margin-right: 0px;
}

.happening li:last-child {
	margin: 0px;
	float: none;
	width: 0;
	height: 0;
	clear: both;
}


.menu .container {
	height: 100px;
	clear: both;
}
.menu li {
	margin-top: 20px;
	float:left;
	color: #aaaaaa;
	margin-right: 20px;
	list-style: none;
}
 

 
.menu img {
	float: right;
}
.links{
width: 220px;
height: 60px;
float:left;
border-radius: 5px;
background-color: #ffffff;

}
.events{
	 
	float: left;
	width: 940px;
	height: 560px;
}

.happening{
	margin-top: 60px;
	width: 940px;
}
 

h1 {
	margin-top: 50px;
}
.clear {
	clear:both;
}

.happening li {
	float: left;
	 
	list-style: none;
	width: 300px;
	margin-right: 20px;
	display: block;

}
.happening li:nth-child(3) {
	margin-right: 0px;
}

.happening li:last-child {
	margin: 0px;
	float: none;
	width: 0;
	height: 0;
	clear: both;
}
 
.happening a {
	display: inline-block;
}
.happening img {
	height: 250px;
	width: 300px;
	position: relative;
	margin: 0px;
	display: block;
}
 

.links a {
 padding: 20px 10px;
display: block;
 	
}
.bannerImage h1 {
	position: absolute;
	color: white ;
	top:440px;
	padding: 0px;
	margin: 0px;
}
.bannerImage h4 {
	position: absolute;
	color: white ;
	top:480px;
}
.blue {
	display: block;
	background-color: #4466ff;
	width: 300px;
	height: 70px;
	margin: 0px;
}

.happening p {
	padding-left: 10px;
	padding-top: 10px;
	color: white;
}

.happening h4 {
	padding-left: 10px;
	padding-top: 10px;
color: white;
}
.text {
	width: 180px;
	color: white;
	float: left;
	display: block;
	padding-top: 10px;
	padding-right: 120px;
	padding-left: 10px
}